@use "../../foundation/base" as *;
@use "../../global/mixin" as *;
@use "../../global/color" as *;
.c-ac {
  background: rgba(255, 255, 255, 0.75);
  max-width: 375px;
  margin: 0 auto 30px auto;
  @include breakpoint(tablet) {
    max-width: none;
    width: 80%;
    margin: 0 auto 48px auto;
  }
  @include breakpoint(pc) {
    margin: 0 auto 8rem auto;
  }
  &:first-of-type {
    margin-top: 30px;
    @include breakpoint(tablet) {
      margin-top: 70px;
    }
    @include breakpoint(pc) {
      margin-top: 7rem;
    }
  }
  &__title {
    border-bottom: 2px solid $color-right-blown;
    cursor: pointer;
  }
  &__title-text {
    width: 260px;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    position: relative;
    padding: 10px 30px;
    white-space: normal; /* 折り返しを許可 */
    word-break: break-word; /* 長い単語でも折り返し */
    transition: background-color 0.3s;
    @include breakpoint(tablet) {
      width: 600px;
      font-size: 20px;
      padding: 20px 40px;
    }
    @include breakpoint(pc) {
      font-size: 2.4rem;
      padding: 2rem 4rem;
      width: 60%;
    }
  }
  &__title-text::before {
    content: "Q: ";
    position: absolute;
    left: 0;
    top: 15%;
    @include breakpoint(tablet) {
      top: 30%;
      font-size: 20px;
    }
    @include breakpoint(pc) {
      font-size: 2.4rem;
      top: 25%;
    }
  }
  &__icon {
    width: 30px;
    height: 30px;
    padding-top: 5px;
  }
  &__icon::before {
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    right: 45rem;
    transform: rotate(90deg);
    background-color: $color-blown;
    transition: 0.3s ease;
    @include breakpoint(tablet) {
      right: 16%;
      width: 3px;
      height: 30px;
    }
  }
  &__icon::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 20px;
    right: 45rem;
    background-color: $color-blown;
    transition: 0.8s ease;
    @include breakpoint(tablet) {
      right: 16%;
      width: 3px;
      height: 30px;
    }
  }
  &__title-text {
    flex: 1;
    min-width: 0;
    word-break: break-word;
  }
  &__text {
    padding: 10px 30px;
    display: none;
    animation: fadeIn 0.5s ease forwards;
    position: relative;
    font-size: 16px;
    line-height: 1.3;
    @include breakpoint(tablet) {
      font-size: 20px;
      padding: 20px 40px;
    }
    @include breakpoint(pc) {
      font-size: 2.4rem;
      padding: 2rem 4rem;
    }
  }
  &__text::before {
    content: "A: ";
    position: absolute;
    left: 0;
    top: 25%;
    @include breakpoint(tablet) {
      font-size: 20px;
      top: 30%;
    }
    @include breakpoint(pc) {
      font-size: 2.4rem;
    }
  }
}
.js-ac.active .c-ac__icon::after {
  transform: rotate(90deg);
}
.js-ac.active .c-ac__icon::before {
  transform: rotate(-90deg);
  height: 0;
  opacity: 0;
}
/* 開いたときだけ表示 */
.js-ac.active .c-ac__text {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
