@use "../../foundation/base" as *;
@use "../../global/mixin" as *;
@use "../../global/color" as *;
.c-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  color: $color-white;
  border-radius: 100rem;
  background: $color-pink;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  opacity: 1;
  &__icon {
    position: relative;
    display: block;
    background-color: $color-white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: 8px;
    @include breakpoint(tablet) {
      width: 3rem;
      height: 3rem;
    }
    @include breakpoint(pc) {
      width: 3rem;
      height: 3rem;
      margin-right: 20px;
    }
  }
  &__icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid $color-pink;
    @include breakpoint(pc) {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 16px solid $color-pink;
    }
  }
  &__mv {
    @extend .c-button;
    width: 30rem;
    height: 5rem;
    padding: 1rem 1rem 1rem 0;
    margin: 3rem auto 5rem auto;
    @include breakpoint(tablet) {
      max-width: 45rem;
      width: 100%;
      height: 6rem;
      margin: 2rem auto;
    }
    @include breakpoint(pc) {
      max-width: 82rem;
      width: 100%;
      height: 8rem;
      margin: 4rem auto;
    }
  }
  &__text {
    @include breakpoint(tablet) {
      font-size: 2.4rem;
    }
    @include breakpoint(pc) {
      font-size: 3.6rem;
    }
  }
  &__flow {
    @extend .c-button;
    width: 30rem;
    height: 5rem;
    padding: 1rem 1rem 1rem 0;
    margin: 3rem auto 0 auto;
    @include breakpoint(tablet) {
      width: 50rem;
      height: 6rem;
      margin: 4rem auto;
    }
    @include breakpoint(pc) {
      width: 82rem;
      height: 8rem;
      margin: 7.4rem auto 0;
    }
  }
  &__faq,
  &__contact {
    @extend .c-button;
    width: 30rem;
    height: 5rem;
    padding: 1rem 1rem 1rem 0;
    margin: 3rem auto 0 auto;
    @include breakpoint(tablet) {
      width: 50rem;
      height: 6rem;
      margin: 4rem auto;
    }
    @include breakpoint(pc) {
      width: 82rem;
      height: 8rem;
      margin: 3rem auto 0;
    }
  }
  &__text-faq {
    font-size: 1.6rem;
    text-decoration: none;
    @include breakpoint(tablet) {
      font-size: 2rem;
    }
    @include breakpoint(pc) {
      font-size: 2.4rem;
      line-height: 1.2;
    }
  }
}
