@use "../../foundation/base" as *;
@use "../../global/mixin" as *;
@use "../../global/color" as *;
.c-card {
  &__list {
    gap: 30px;
    margin: 60px 0 0 0;
    @include breakpoint(tablet) {
      gap: 40px;
    }
  }
  &__list-skill {
    @extend .c-card__list;
  }
  &__item {
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    height: auto;
  }
  &__item-skill {
    @extend .c-card__item;
    padding: 30px 10px 60px 10px;
    fill: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include breakpoint(tablet) {
      width: 43%;
      padding: 30px 24px;
    }
    @include breakpoint(pc) {
      padding: 5rem 4rem;
    }
  }
  &__title-skill {
    font-size: 24px;
    line-height: calc(42 / 24);
    text-align: center;
    @include breakpoint(pc) {
      font-size: 3rem;
      line-height: 1.7;
    }
  }
  &__icon {
    margin: 20px auto;
    gap: 25px;
    @include breakpoint(pc) {
      margin: 3rem auto;
    }
  }
  &__icon img {
    width: 62px;
    @include breakpoint(pc) {
      width: 10rem;
    }
  }
  &__text-skill {
    font-size: 18px;
    line-height: calc(24 / 18);
    @include breakpoint(pc) {
      font-size: 2.4rem;
    }
  }
}
