@use "../../foundation/base" as *;
@use "../../global/mixin" as *;
@use "../../global/color" as *;
.c-list {
  &__flow {
    margin: 3rem 0 0 0;
    max-width: 1160px;
    @include breakpoint(tablet) {
      margin: 4.4rem 0 0 0;
    }
    @include breakpoint(pc) {
      margin: 5rem 0 0 0;
    }
  }
  &__item-flow {
    width: 100%;
    border-radius: 2rem;
    background: #fff;
    flex-shrink: 0;
    padding: 0.7rem 2.2rem;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
    @include breakpoint(tablet) {
      padding: 1.9rem 2.2rem;
      width: 80%;
      margin: 0 auto;
      font-size: 2.4rem;
      line-height: 1.7;
    }
    @include breakpoint(pc) {
      font-size: 3.5rem;
    }
  }
  &__no {
    margin-right: 1rem;
  }
}
