@use "../../foundation/base" as *;
@use "../../global/mixin" as *;
@use "../../global/color" as *;
.c-nav {
  &__list {
    gap: 2rem;
  }
  &__item {
    font-size: 1.8rem;
    @include breakpoint(tablet) {
      font-size: 1.6rem;
    }
    @include breakpoint(pc-l) {
      font-size: 2.4rem;
    }
  }
}
.js-nav {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}
.js-nav.is-open {
  max-height: 50rem; // 中の高さに合わせて調整
}
