@use "../../foundation/base" as *;
@use "../../global/mixin" as *;
@use "../../global/color" as *;
.c-slide {
  &__img {
    flex-shrink: 0;
    width: 100px; /* 画像のサイズを調整 */
    overflow: hidden;
    @include breakpoint(tablet) {
      max-width: 250px;
      width: 100%;
      margin: 0 auto;
    }
    @include breakpoint(pc) {
      width: 35rem;
    }
  }
  &__contents {
    flex: 1;
    @include breakpoint(pc) {
      margin-left: 50px;
    }
  }
  &__name {
    font-size: 16px;
    @include breakpoint(tablet) {
      font-size: 18px;
    }
    @include breakpoint(pc) {
      font-size: 2.4rem;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 1.7;
    @include breakpoint(tablet) {
      font-size: 20px;
    }
    @include breakpoint(pc) {
      font-size: 3rem;
    }
  }
  &__cat {
    gap: 10px;
    margin-top: 8px;
  }
  &__cat-list {
    font-size: 10px;
    font-family: serif;
    display: flex;
    border: 1px solid $color-navy;
    padding: 3px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #fff;
    @include breakpoint(pc) {
      font-size: 1.4rem;
      padding: 0.5rem;
    }
  }
}
