@use "../../foundation/base" as *;
@use "../../global/mixin" as *;
.c-wrapper {
  margin: 0 auto;
  padding: 0 3rem;
  max-width: 116rem;
  &__header {
    padding: 0 2rem;
  }
  &__mainvisual {
    padding: 7.2rem 2.4rem 0 2.4rem;
    @include breakpoint(tablet) {
      padding: 7.3rem 2.4rem 0 2.4rem;
    }
  }
  &__features {
    margin: 6rem 2.8rem;
    @include breakpoint(tablet) {
      margin: 6rem auto 0;
      width: 80%;
      @include breakpoint(pc) {
        max-width: 80rem;
      }
    }
  }
  &__course {
    @extend .c-wrapper;
    margin: 6rem auto 0;
  }
  &__flow {
    @extend .c-wrapper;
    margin: 6rem auto;
  }
  &__work {
    @extend .c-wrapper;
    margin: 6rem auto;
    padding: 0 4rem;
  }
  &__faq {
    @extend .c-wrapper;
    margin: 0 auto 6rem auto;
  }
  &__about {
    @extend .c-wrapper;
  }
  &__contact {
    @extend .c-wrapper;
    padding: 0 3rem 6rem 3rem;
    @include breakpoint(pc) {
      margin-top: 6rem;
    }
  }
}
