@use "../../foundation/base" as *;
@use "../../global/mixin" as *;
@use "../../global/color" as *;
.p-about {
  &__content {
    gap: 2rem;
    background: linear-gradient(145deg, rgba(255, 239, 219, 0.7), rgba(255, 214, 165, 0.5));
    border-radius: 2rem;
    padding: 2rem 1rem;

    margin: 0 0 6rem 0;
    @include breakpoint(tablet) {
      gap: 5rem;
    }
    @include breakpoint(pc) {
      max-width: 116rem;
      gap: 2rem;
      width: 85%;
      padding: 3rem 2rem;
      margin: 0 auto;
    }
  }
  &__media-intro {
    gap: 1.5rem;
    @include breakpoint(pc) {
      width: 43%;
    }
  }
  &__img {
    width: 15rem;
    height: 15rem;
    @include breakpoint(pc) {
      width: 20rem;
      height: 20rem;
    }
  }
  &__media-map {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 0;
    @include breakpoint(tablet) {
      width: 100%;
      max-width: 960px;
    }
    @include breakpoint(pc) {
      max-width: none;
    }
  }
  &__desc {
    @include breakpoint(pc) {
      font-size: 2rem;
      line-height: 1.25;
    }
  }
  &__text {
    margin: 1.5rem 0 0 0;
    font-size: 1.4rem;
    line-height: 1.25;
    @include breakpoint(tablet) {
      font-size: 2rem;
      margin: 3rem 0 0 0;
    }
  }
  &__heading--sub {
    margin: 0 0 1.5rem 0;
  }
  &__info-contents {
    gap: 10px;
    margin-bottom: 1.5rem;
    @include breakpoint(tablet) {
      gap: 5rem;
    }
  }
  &__info-contents:last-of-type {
    margin-bottom: 0;
  }
  &__info-title {
    width: 6rem;
  }
  &__info-text {
    flex: 1;
  }
}
