@use "../../foundation/base" as *;
@use "../../global/mixin" as *;
@use "../../global/color" as *;
.p-fadein {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
  will-change: opacity, transform;
}

.p-fadein.is-show {
  opacity: 1;
  transform: translateY(0);
}
