@use "../../foundation/base" as *;
@use "../../global/mixin" as *;
@use "../../global/color" as *;
.p-features {
  scroll-margin-top: 80px;
  @include breakpoint(tablet) {
    padding-top: 500px;
  }
  @include breakpoint(pc) {
    padding-top: 900px;
  }
}
