@use "../../foundation/base" as *;
@use "../../global/mixin" as *;
@use "../../global/color" as *;
.p-features {
  scroll-margin-top: 8rem;
  @include breakpoint(tablet) {
    padding-top: 50rem;
  }
  @include breakpoint(pc) {
    padding-top: 90rem;
  }
}
