.l-main {
  background-attachment: fixed;
  background-image: url("../../img/pc-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
